/* Custom scrolbar */
* {
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(240, 240, 240, 0.2);
    scrollbar-width: thin;
}
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}
*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    border: 3px solid rgba(240, 240, 240, 0.2);
}
*::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}
/* --- */